<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="homepage">
    <form method="POST" action="/questions">
      <input type="submit" value="Take the quiz!">
    </form>
  </div>

</body>
</html>

