<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <form method="post" action="/q2">
   <h1>Start!</h1>
     <input type="image" src="http://vignette3.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest?cb=20150418234807" width="50px" height="50px">
    <p>1. What is your favorite type of Eevee evolution?</p>
      <input type="image" src="http://vignette3.wikia.nocookie.net/pokemon/images/f/fe/136Flareon_BW_anime.png/revision/latest?cb=20140123204633" width="100px" height="75px" name="q1" value="Flareon">
      <input type="image" src="http://img15.deviantart.net/01d8/i/2013/194/b/0/135___jolteon_by_nganlamsong-d5rgz40.png" width="75px" height="75px" name="q1" value="Jolteon">
      <input type="image" src="http://orig01.deviantart.net/619e/f/2014/204/f/1/beta_vaporeon_by_alounea-d7rzhmm.png" width="100px" height="100px" name="q1" value="Vaporeon">
      <input type="image" src="http://orig12.deviantart.net/6d75/f/2010/208/0/1/leafeon_v_2_by_xous54.png" width="100px" height="100px" name="q1" value="Leafeon">
    <!--<p>2. Who is a better starter?</p>-->
    <!--  <input type="image" src="http://static.pokemonpets.com/images/monsters-images-300-300/7-Squirtle.png" width="100px" height="100px" name="q2" value="Squirtle">-->
    <!--  <input type="image" src="http://pre11.deviantart.net/88f0/th/pre/f/2013/226/a/e/_001_bulbasaur_by_icedragon300-d4ilvtw.png" width="100px" height="100px" name="q3" value="Bulbasaur">-->
    <!--  <input type="image" src="http://img07.deviantart.net/8390/i/2006/274/6/4/pokemon___charmander__by_hotaru_neko.jpg" width="100px" height="100px" name="q3" value="CHarmander">-->
    <!--  <input type="image" src="http://www.smashbros.com/images/og/pikachu.jpg"width="100px" height="100px" name="q3" value="Pikachu">-->
    <!--<p>3. What do you do in your spare time?</p>-->
    <!--  <li>I spend my time alone and enjoying the peace.</li><input type="image" src="https://pbs.twimg.com/media/CCgQDsfVEAAo9xz.jpg" width="100px" height="100px" name="q3" value="alone">-->
    <!--  <li>I like to spend my time with my friends and make the most out of what I got.</li><input type="image" src="http://sd.keepcalm-o-matic.co.uk/i/having-fun-with-friends.png" width="75px" height="100px" name="q3" value="Friends">-->
    <!--  <li>In my free time I take stupid quizes like this and see what I get.</li><input type="image" src="http://a1.mzstatic.com/us/r1000/104/Purple/e1/69/f5/mzl.dsyushpx.png" width="100px" height="100px" name="q3" value="Stupid_test">-->
    <!--  <li>Please stop this torture soon!</li><input type="image" src="http://socialsavvysarah.com/wp-content/uploads/2012/08/High-Res-Stop-Sign-final.png" width="100px" height="100px" name="q3" value="Stop">-->
    <!--<p>4. What is your favorite color?</p>-->
    <!--  <input type="image" src="https://carlaspeaks.files.wordpress.com/2010/09/red.jpg" width="100px" height="100px" name="q4" value="Red">-->
    <!--  <input type="image" src="http://desktop.freewallpaper4.me/view/original/6803/green-lantern-logo.jpg" width="150px" height="100px" name="q4" value="Green">-->
    <!--  <input type="image" src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-blue-team-are-here.png" width="75px" height="100px" name="q4" value="Blue">-->
    <!--  <input type="image" src="http://icon-park.com/imagefiles/movie_play_yellow.png" width="150px" height="100px" name="q4" value="Yellow">-->
    <!--<p>5. What is your favorite sport?</p>-->
    <!--  <input type="image" src="http://3.bp.blogspot.com/-m0O_a08zEiQ/T1P5lVodfNI/AAAAAAAAAmM/jCQl_V4Ws6w/s1600/soccer-1.jpg" width="125px" height="100px" name="q5" value="Soccer">-->
    <!--  <input type="image" src="https://capitalvolleyballteam.files.wordpress.com/2010/06/usa_volleyball.jpg" width="115px" height="100px" name="q5" value="Volleyball">-->
    <!--  <input type="image" src="https://maureenegan.files.wordpress.com/2012/01/bball.jpg" width="115px" height="100px" name="q5" value="Basketball">-->
    <!--  <input type="image" src="http://lookwhatmomfound.com/wp-content/uploads/2012/12/baseball-hr.jpg" width="100px" height="100px" name="q5" value="Baseball">-->
      
      </form>
      
  </div>

</body>
</html>