<div class="q2-page">
   <form method="post" action="/q3">
    <p>2. Who is a better starter?</p>
      <input type="image" src="http://static.pokemonpets.com/images/monsters-images-300-300/7-Squirtle.png" width="100px" height="100px" name="q2" value="Squirtle">
      <input type="image" src="http://pre11.deviantart.net/88f0/th/pre/f/2013/226/a/e/_001_bulbasaur_by_icedragon300-d4ilvtw.png" width="100px" height="100px" name="q3" value="Bulbasaur">
      <input type="image" src="http://img07.deviantart.net/8390/i/2006/274/6/4/pokemon___charmander__by_hotaru_neko.jpg" width="100px" height="100px" name="q3" value="CHarmander">
      <input type="image" src="http://www.smashbros.com/images/og/pikachu.jpg"width="100px" height="100px" name="q3" value="Pikachu">
      </form>
</div>