<div class="q3-page">
   <form method="post" action="/q4">
       <p>3. What do you do in your spare time?</p>
      <li>I spend my time alone and enjoying the peace.</li><input type="image" src="https://pbs.twimg.com/media/CCgQDsfVEAAo9xz.jpg" width="100px" height="100px" name="q3" value="alone">
      <li>I like to spend my time with my friends and make the most out of what I got.</li><input type="image" src="http://sd.keepcalm-o-matic.co.uk/i/having-fun-with-friends.png" width="75px" height="100px" name="q3" value="Friends">
      <li>In my free time I take stupid quizes like this and see what I get.</li><input type="image" src="http://a1.mzstatic.com/us/r1000/104/Purple/e1/69/f5/mzl.dsyushpx.png" width="100px" height="100px" name="q3" value="Stupid_test">
      <li>Please stop this torture soon!</li><input type="image" src="http://socialsavvysarah.com/wp-content/uploads/2012/08/High-Res-Stop-Sign-final.png" width="100px" height="100px" name="q3" value="Stop">
    </form>
</div>