<div class="q4-page">
   <form method="post" action="/q5">
       <p>4. What is your favorite color?</p>
      <input type="image" src="https://carlaspeaks.files.wordpress.com/2010/09/red.jpg" width="100px" height="100px" name="q4" value="Red">
      <input type="image" src="http://desktop.freewallpaper4.me/view/original/6803/green-lantern-logo.jpg" width="150px" height="100px" name="q4" value="Green">
      <input type="image" src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-blue-team-are-here.png" width="75px" height="100px" name="q4" value="Blue">
      <input type="image" src="http://icon-park.com/imagefiles/movie_play_yellow.png" width="150px" height="100px" name="q4" value="Yellow">
    </form>
</div>