<div class="q5-page">
   <form method="post" action="/results">
       <p>5. What is your favorite sport?</p>
      <input type="image" src="http://3.bp.blogspot.com/-m0O_a08zEiQ/T1P5lVodfNI/AAAAAAAAAmM/jCQl_V4Ws6w/s1600/soccer-1.jpg" width="125px" height="100px" name="q5" value="Soccer">
      <input type="image" src="https://capitalvolleyballteam.files.wordpress.com/2010/06/usa_volleyball.jpg" width="115px" height="100px" name="q5" value="Volleyball">
      <input type="image" src="https://maureenegan.files.wordpress.com/2012/01/bball.jpg" width="115px" height="100px" name="q5" value="Basketball">
      <input type="image" src="http://lookwhatmomfound.com/wp-content/uploads/2012/12/baseball-hr.jpg" width="100px" height="100px" name="q5" value="Baseball">
    </form>
</div>