<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <form>
   <h1>First question!</h1>
     <input type="image" src="http://vignette3.wikia.nocookie.net/youtubepoop/images/4/4c/Pokeball.png/revision/latest?cb=20150418234807" width="50px" height="50px">
    <p>1. What is your favorite type of Eevee evolution?</p>
      <input type="image" src="http://vignette3.wikia.nocookie.net/pokemon/images/f/fe/136Flareon_BW_anime.png/revision/latest?cb=20140123204633" width="100px" height="75px" name="q1" value="Flareon">
      <input type="image" src="http://img15.deviantart.net/01d8/i/2013/194/b/0/135___jolteon_by_nganlamsong-d5rgz40.png" width="75px" height="75px" name="q1" value="Jolteon">
      <input type="image" src="http://orig01.deviantart.net/619e/f/2014/204/f/1/beta_vaporeon_by_alounea-d7rzhmm.png" width="100px" height="100px" name="q1" value="Vaporeon">
      <input type="image" src="http://orig12.deviantart.net/6d75/f/2010/208/0/1/leafeon_v_2_by_xous54.png" width="100px" height="100px" name="q1" value="Leafeon">
    <p>2. Who is a better starter?</p>
      <li>Squirtle</li><input type="image" src="
      <li>Bulbasaur</li><input type="image" src="
      <li>Charmander</li><input type="image" src="
      <li>Pikachu</li><input type="image" src="
    <p>3. What do you do in your spare time?</p>
      <li>I spend my time alone and enjoying the peace.</li><input type="image" src="
      <li>I like to spend my time with my friends and make the most out of what I got.</li><input type="image" src="
      <li>In my free time I take stupid quizes like this and see what I get.</li><input type="image" src="
      <li>Please stop this torture soon!</li><input type="image" src="
    <p>4. What is your favorite color?</p>
      <li>red</li><input type="image" src="
      <li>blue</li><input type="image" src="
      <li>green</li><input type="image" src="
      <li>yellow</li><input type="image" src="
    <p>5. What is your favorite sport?</p>
      <li>Soccer</li><input type="image" src="
      <li>Volleyball</li><input type="image" src="
      <li>Basketball</li><input type="image" src="
      <li>Baseball</li><input type="image" src="
      
  </div>

</body>
</html>